/* assets/styles.css */

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    border-radius: 12px;
    margin-bottom: 25px;
}

.upload-box, .jd-box {
    padding: 15px;
    background-color: #1d1b1b;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1, h3, h4 {
    color: #2c3e50;
}

.footer {
    text-align: center;
    font-size: 13px;
    color: #888;
    margin-top: 50px;
}
